@import 'tailwindcss';

@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body,
    html {
        --font-sans:
            'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
    }
}

:root {
    --background: hsl(165 33.3% 97.6%);
    --foreground: hsl(186.9 61.4% 11.2%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(186.9 61.4% 11.2%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(186.9 61.4% 11.2%);
    --primary: hsl(175.3 77.4% 26.1%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(204 93.8% 93.7%);
    --secondary-foreground: hsl(202 80.3% 23.9%);
    --muted: hsl(180 23.1% 94.9%);
    --muted-foreground: hsl(185.8 16.4% 37.1%);
    --accent: hsl(167.2 85.5% 89.2%);
    --accent-foreground: hsl(175.9 60.8% 19%);
    --destructive: hsl(0 72.2% 50.6%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(174.8 31.5% 85.7%);
    --input: hsl(174.8 31.5% 85.7%);
    --ring: hsl(175.3 77.4% 26.1%);
    --chart-1: hsl(173.4 80.4% 40%);
    --chart-2: hsl(198.6 88.7% 48.4%);
    --chart-3: hsl(32.1 94.6% 43.7%);
    --chart-4: hsl(351.3 94.5% 71.4%);
    --chart-5: hsl(214.2 52% 24.5%);
    --radius: 0.5rem;
    --sidebar-background: hsl(175 40% 94.1%);
    --sidebar-foreground: hsl(186 32.6% 18%);
    --sidebar-primary: hsl(175.3 77.4% 26.1%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(172.8 49% 90%);
    --sidebar-accent-foreground: hsl(175.9 60.8% 19%);
    --sidebar-border: hsl(173.3 29% 87.8%);
    --sidebar-ring: hsl(175.3 77.4% 26.1%);
    --sidebar: hsl(175 40% 94.1%);
}

.dark {
    --background: hsl(188.6 63.6% 6.5%);
    --foreground: hsl(175.7 43.8% 93.7%);
    --card: hsl(188.9 55.1% 9.6%);
    --card-foreground: hsl(175.7 43.8% 93.7%);
    --popover: hsl(188.9 55.1% 9.6%);
    --popover-foreground: hsl(175.7 43.8% 93.7%);
    --primary: hsl(172.5 66% 50.4%);
    --primary-foreground: hsl(173.6 77.8% 7.1%);
    --secondary: hsl(196 68.2% 17.3%);
    --secondary-foreground: hsl(200.6 94.4% 86.1%);
    --muted: hsl(187.7 47.7% 12.7%);
    --muted-foreground: hsl(183.2 20.4% 63.5%);
    --accent: hsl(184.8 65.8% 14.9%);
    --accent-foreground: hsl(168.4 83.8% 78.2%);
    --destructive: hsl(0 90.6% 70.8%);
    --destructive-foreground: hsl(0 67.7% 6.1%);
    --border: hsl(186.3 46.3% 16.1%);
    --input: hsl(186.3 46.3% 16.1%);
    --ring: hsl(172.5 66% 50.4%);
    --chart-1: hsl(172.5 66% 50.4%);
    --chart-2: hsl(198.4 93.2% 59.6%);
    --chart-3: hsl(43.3 96.4% 56.3%);
    --chart-4: hsl(27 96% 61%);
    --chart-5: hsl(213.1 93.9% 67.8%);
    --sidebar-background: hsl(187.5 60% 7.8%);
    --sidebar-foreground: hsl(174.8 40.4% 88.8%);
    --sidebar-primary: hsl(172.5 66% 50.4%);
    --sidebar-primary-foreground: hsl(173.6 77.8% 7.1%);
    --sidebar-accent: hsl(187.9 51.4% 14.5%);
    --sidebar-accent-foreground: hsl(168.4 83.8% 78.2%);
    --sidebar-border: hsl(186.3 46.3% 16.1%);
    --sidebar-ring: hsl(172.5 66% 50.4%);
    --sidebar: hsl(187.5 60% 7.8%);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
